body {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(to bottom, rgba(40, 40, 40, 0.65), #333), url('./pattern.png');
  background-attachment: fixed;
  animation: wave infinite 10s linear;
}

#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;
}

.material-icons{
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
}

@keyframes wave {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 700px 0px;
  }
}